/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
button {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body .main {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	color: #000000;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;

}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact,
#login>* {
	text-align: center;

}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtre {

	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	Width: auto;
	Height: 37px;
	border: #1D6154 1px solid;
	border-radius: 60px;
	background-color: white;
	color: #1D6154;
	padding: 15px;
	margin: 5px;
	cursor: pointer;
}

button:active,
button:focus {
	background-color: #1D6154;
	color: white;
}

.main-container {
	margin-top: 150px;
	margin-bottom: 200px;
}

.motdepasse {
	color: #3D3D3D;
}

.alert {
	font-family: 'Work Sans';
	font-size: 22px;
	font-style: oblique;
	color: red;
	margin-top: 40px;
	display: none;
}

.barre-grise {
	
    height: 3px; /* Hauteur de la barre */
    width: 48%; /* Largeur de la barre */
	margin-left: 160px;
    background-color: #B3B3B3; /* Couleur de la barre */


}

.modifier-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
	Width: 100%;
	height: 50px;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Work Sans';
	font-size: 14px;
}

.far {
	margin: 10px;

}

.modif-btn {
	border: none;
	color: black;
	justify-content: center;
	align-items: center;
}

.btn-projet {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}


.modifier-btn:active,
.modifier-btn:focus {
	background-color: #000000 !important;
	color: #FFFFFF !important;
}

.modif-btn:active,
.modif-btn:focus,
.close-btn:focus {
	background-color: white !important;
	color: black !important;
}

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	overflow: auto;
	width: 630px;
	height: 680px;
	max-width: 100vm;
	max-height: 100vm;
	padding: 20px;
	background-color: white;
	border-radius: 10px;


}

.modal-btn{
	display: flex;
	justify-content: flex-end;
}


.back-btn {
	border-color: white;
	color: #000000;
margin-right: 520px;
}

.close-btn {
	border-color: white;
	color: #000000;
	
}

.thumbnailImage {
	width: 76.61px;
	height: 102.57px;
	margin-top: 20px;
	margin-left: 10px;
}

.thumbnail {
	width: 76.61px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-left: 70px;
	padding-bottom: 150px;
	
}

.projetElement {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* 5 colonnes de largeur égale */
	grid-gap: 2px;
	/* Espace entre les vignettes */
}

.titremodal {
	color: #000000 !important;
}
.Ajouter-modal{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;

}

.mainConteneur {
	display:flex;
	height: 400px;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	margin-bottom: 95px;


}

.selectCategorie{
	width: 100%;
	height: 40px;
	margin-top: 10px;
}

.titreNouvelleImage{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.titreSelect, .categorieSelect{
color: black;
font-weight: bold;
margin-top: 20px;
}

.ensembleImage {
	display:flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
background-color: #E8F1F6;
width: 100%;
height: 250px;
margin-bottom: 15px;

}
.btnAjouterImage{
background-color:#CBD6DC;
border-color: #CBD6DC;
color: #306685;
font-size: 16px;
width: 173px;
height: 40px;
margin-bottom: 20px;

}
.infoFormatTaille{
	margin-bottom: 40px;

}

.imageAjouter {
	width: 70px;
	height: 60px;
 margin-bottom: 30px;
}

.image-preview {
	width: 170px;
	height: 245px;

}
.modal-btn-valider{
display: none;
}
